.*/
!.gitignore
*.code-workspace


/ai/works/*
!/ai/works/.gitkeep


/mine/backup/*
!/mine/backup/.gitkeep
/mine/sandbox/*
!/mine/sandbox/.gitkeep
/mine/tests/*
!/mine/tests/.gitkeep
/mine/config/readed.json
/mine/config/.readed.json


/shell/env/*
!/shell/env/.gitkeep
/shell/tests/*
!/shell/tests/.gitkeep

